.main_container {
  background: black;
}
.header {
  padding: 10px 16px;
  background: #050404c4;
  color: #f1f1f1;
  display: grid;
  grid-template-columns: 100%;
  position: relative;
  align-items: center;
  margin-top: 1px;
}
.header img {
  width: 11%;
  margin-left: -25rem;
}
.header button:hover {
  border: 1px solid aquamarine;
}
.portfolio_logo {
  border: 2px solid white;
  border-radius: 15%;
  /* padding: 10px; */
  width: 8% !important;
  box-shadow: 0px 0px 10px 0px #5cd3c2;
  margin: 0.5rem 0rem;
  transition: 0.3s;
}
.portfolio_logo:hover {
  padding: 5px;
  box-shadow: 0px 0px 10px 4px aquamarine;
}

.icon_section {
  text-align: left;
  padding-top: 10px;
}
.icon_section svg {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
}

.content {
  padding: 16px;
}
.nav_item h6 {
  margin: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

/* HERO SECTION */

.hero_container {
  /* background-image: url("../../public/background.png"); */
  background: black;
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  margin: 1rem 0rem;
}
.hero_section {
  position: relative;
  top: 18%;
  left: -10%;
}
.hero_section button {
  width: 50%;
  border: 1px solid gray;
  padding: 8px;
  color: aquamarine;
  font-size: 15px;
  font-family: sans-serif;
  text-decoration: none;
}
.hero_section button:hover {
  background: aquamarine;
  color: black;
  font-weight: 500;
}
.project_section {
  background: #272727;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}
.project_section h6 {
  font-size: 17px;
  margin: 10px;
  font-family: sans-serif;
  color: black;
  font-weight: 100;
}
.skill_sectioner {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
h1 {
  color: #fff;
  font-family: sans-serif;
  font-size: 60px;
  text-shadow: 1px 1px #6bffd4;
}
.Typewriter {
  color: #7fffd4;
  font-family: sans-serif;
  font-size: 28px;
  /* text-shadow: 2px 2px #333333; */
  margin: 2rem 0rem;
  font-weight: 700;
}
.profile_img {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.profile_img img {
  width: 50%;
  margin-top: 2rem !important;
  padding-left: 6rem !important;
}
.profile_img::before {
  content: "";
  width: 52%;
  height: 380px;
  border-radius: 2%;
  background-image: linear-gradient(45deg, #6bffc7, #009eab);
  position: absolute;
  bottom: -43px;
  right: 7rem;
  border: 1px solid #514d46;
  top: 1.5rem;
}
.profile_img div::after {
  content: "";
  width: 350px;
  height: 380px;
  border-radius: 4%;
  background-image: linear-gradient(45deg, #f1e2e252, #eadcdc1f);
  border: 1px solid #dfdfdf;
  position: absolute;
  top: 3rem;
  left: 10rem;
}
.is-sticky {
  position: fixed;
  top: 0;
  left: -1.4rem;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  /* background-color: #444444; */
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}
.unquote_img {
  width: "80%";
  transform: rotate(180deg);
}
.about_container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
  background: #080808;
}
.about_container::before {
  content: "";
  width: 35%;
  height: 450px;
  border-radius: 15%;
  background-color: #009eab21;
  position: absolute;
  bottom: -43px;
  right: 2px;
}
.about_container::after {
  content: "";
  width: 400px;
  height: 400px;
  border-radius: 15%;
  background-color: #7fffd41a;
  position: absolute;
  top: 1rem;
  left: 0px;
}
.about_section {
  margin: auto;
  width: 80%;
  background: #272727;
  border-radius: 10px;
  padding: 2rem;
}
.about_content {
  padding: 2rem;
}
.about_content h3 {
  color: aquamarine;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 100;
  text-align: left;
  margin: 0px;
}
.about_content p {
  font-size: 15px;
  text-align: justify;
  text-shadow: none;
  font-family: unset;
  font-weight: 100;
  color: white;
  line-height: 1.4rem;
}
.skill_section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
}
.skill_section h2 {
  color: aquamarine;
  font-size: 35px;
  font-family: sans-serif;
  font-weight: 100;
}
.skill_section p {
  margin: auto;
  width: 55%;
  color: white;
  text-shadow: none;
  font-size: 18px;
  font-family: unset;
  font-weight: 300;
}
.skill_grid {
  margin: auto;
  width: 80%;
}
.skill_set {
  border: 1px solid gray;
  padding: 5px;
}

.testimonial_section {
  padding-top: 0rem;
  padding-bottom: 2rem;
  position: relative;
}
#projects h2 {
  color: aquamarine;
  font-size: 35px;
  font-family: sans-serif;
  font-weight: 100;
  margin: 0px;
}
#projects p {
  margin: auto;
  width: 95%;
  color: white;
  text-shadow: none;
  font-size: 16px;
  margin-top: 1rem;
  font-family: unset;
  font-weight: 100;
  line-height: 1.45rem;
}
.project_gallery {
  border-radius: 1%;
  /* border: 4px solid rgb(77, 68, 68); */
  width: 80%;
}
.project_details {
  margin-top: -2rem !important;
  width: 75%;
  margin: auto;

  left: 2%;
  background: rgb(255 255 255 / 3%);
  box-shadow: 0 1px 10px 0px #6bffd4;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.cart {
  width: 80% !important;
  border: 1px solid gray;
  background: #8488883d;
  padding: 10px;
  margin: 0rem 2rem;
  display: flex;
}
.slick-slide img {
  display: inline-table;
  border-radius: 50%;
}
.cart h6 {
  margin: 8px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #5a5f5d;
}
.cart p {
  width: 100%;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 13px;
  margin: 18px 0px;
  color: #d1d1d1;
}
.contact_section {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.contact_container {
  width: 80%;
  margin: auto;
}
.contact_container h6 {
  color: aquamarine;
  font-size: 35px;
  font-family: sans-serif;
  font-weight: 100;
}
.contact_form {
  width: 100%;
  border: 1px solid gray;
  padding: 15px;
}
.contact_form h2 {
  color: #ebf5ff;
  font-family: sans-serif;
  text-align: center;
  font-weight: 100;
}
.contact_form p {
  text-shadow: none;
  font-size: 15px;
  width: 80%;
  margin: auto;
  padding: 1rem 0rem 2rem 0rem;
  color: white;
  font-family: unset;
  font-weight: 100;
}
.form_input {
  align-items: flex-start;
}
.form_input div {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 15% 85%;
}
.form_input label {
  color: #f1f1f1;
  padding: 0rem 1rem;
}
.form_input input {
  width: 80%;
  padding: 10px;
  background: transparent;
  border: 1px solid gray;
  border-radius: 7px;
  color: aquamarine;
  margin-left: 1%;
}
.form_input textarea {
  width: 80%;
  padding: 10px;
  background: transparent;
  border: 1px solid gray;
  border-radius: 7px;
  color: aquamarine;
  margin-left: 1%;
}
.form_input button {
  margin: 0rem 1rem;
  padding: 10px;
  width: 15%;
  text-align: center;
  border-radius: 10px;
  border: none;
}
.form_input button :hover {
  background: aquamarine;
  padding: 5px;
}
.contact_link {
  width: 90%;
  border: 1px solid aquamarine;
  padding: 10px;
  margin: 1rem 0rem;
  display: flex;
  border-radius: 6px;
}
.contact_link:hover {
  background: rgba(110, 112, 112, 0.719);
  color: black !important;
}
.contact_link svg {
  color: aliceblue;
}

.contact_link h6 {
  margin: 0px;
  font-size: 16px;
  margin-top: 0.2rem;
  /* padding: 0rm 1rem; */
  margin-left: 1rem;
  color: darkgray;
  font-family: sans-serif;
}
.footer {
  margin: auto;
  width: 99%;
  text-align: center;
  color: white;
  font-size: 17px;
  position: relative;
  font-family: sans-serif;
  font-weight: 100 !important;
  background: #272727;
  padding: 5px;
}
.bar_icon {
  display: none !important;
}
@media only screen and (max-width: 766px) {
  .navbar {
    display: none !important;
  }
  .header .bar_icon {
    display: block !important;
    position: absolute !important;
    top: 0px;
    right: 0px;
  }
  .is-sticky {
    /* display: block; */
    padding: 10px !important;
    /* animation: 500ms ease-in-out 0s normal none 1 running fadeInUp !important; */
  }
  .is-sticky .bar_icon {
    display: block !important;
    position: absolute !important;
    /* top: 0px;
    right: 0px; */
    top: -5px;
    right: 20px;
  }
  .bar_icon svg {
    font-size: 30px;
  }
  .hero_section {
    left: 0% !important;
    top: 5% !important;
  }
  .Typewriter {
    font-size: 25px;
  }
  .profile_img::before {
    display: none;
  }
  .profile_img div::after {
    display: none;
  }
  .profile_img img {
    display: none;
  }
  .hero_container {
    margin: 0rem !important;
  }
  .unquote_img {
    width: 80% !important;
  }
  .skill_section {
    padding-top: 0rem !important;
  }
  .skill_section p {
    width: 95% !important;
  }
  .contact_form {
    padding: 0px !important;
  }
  .contact_form p {
    padding: 0rem 0rem 2rem 0rem;
    font-size: 14px;
    width: 90% !important;
  }
  .form_input input {
    margin-left: 8% !important;
  }
  .form_input textarea {
    margin-left: 8% !important;
  }
  .form_input label {
    font-size: 12px;
    align-self: center;
  }
  .form_input button {
    width: 25%;
    margin-bottom: 0.5rem;
  }
  .about_container::before {
    display: none;
  }
  .about_container::after {
    display: none;
  }
  .contact_link {
    width: 95% !important;
  }
}
